@import '../variables';

.content {
    background-color: #212121;
    padding: 20px 0 12px 0;
    border: 0.5px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    position: relative;
    width: 100%;

    max-width: 1600px;
    margin: 0 auto;
    border-radius: 12px;
    margin-bottom: 60px;
    height: max-content;

    @media only screen and (min-width: $tablet) {
        margin-bottom: 80px;
    }



    .header {
        @media only screen and (min-width: $tablet) {
            font-size: 48px;
            text-align: start;
            margin-left: 20px;
        }

        font-size: 36px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .itemContainer {
        @media only screen and (min-width: $tablet) {
            display: flex;
            flex-wrap: wrap;

        }
        display: block;
        flex-wrap: unset;
        position: relative;
    }
    
    .scrollable {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;

        overflow: scroll;

        &::-webkit-scrollbar {
            display: none;
        }    
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .arrow {
        border: 1px solid rgba(255, 255, 255, 0.2);
        background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%);
        border: 0.5px solid rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(2px);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 12px;
        top: 50%;
        opacity: 1;
        transition: all .2s;
        cursor: pointer;

        &:hover {
            background-position-x: -58px;
            backdrop-filter: blur(5px);
            transform: scale(1.1);
        }

        img {
            width: 48px;
            height: 48px;
        }
    }

    .scrolledArrow {
        opacity: 0;
        transform: scale(0.5) !important;
        pointer-events: none;
    }
}